@use '../base' as *;

.list {
  display: flex;
  flex-direction: column;

  text-transform: capitalize;

  .list-item {
    width: 100%;

    .item-title {
      display: flex;
      align-items: center;
      max-width: max-content;

      font-size: $text-xs;
      color: $neutral-color-40;
      margin-bottom: 18px;
    }

    .gray-dot-icon {
      width: 4px;
      height: 4px;
      margin-right: 2px;
    }

    .item-subtitle {
      margin-right: 11px;
      display: flex;
      align-items: center;

      font-size: $text-xs;
      color: $black-color;
    }
  }
}
