@use '../base/variables' as *;

.home-page {
  .section-todo,
  .section-statistic,
  .completed-tasks {
    flex-basis: 50%;
    flex-grow: 1;

    padding: 20px 24px;
    border-radius: 14px;
  }
  .section-statistic {
    padding: 0px 24px 20px;

    .task-status-statistic,
    .completed-tasks {
      box-shadow: $shadow-color-02;
      border-radius: 14px;
      padding: 20px 24px;
    }

    .task-status-statistic {
      margin-bottom: 17px;
    }
  }

  .todo-action {
    font-size: $text-xs;
    color: $neutral-color-40;
    cursor: pointer;

    .icon {
      width: 11px;
      height: 11px;

      margin-right: 5px;
    }
  }

  .progress-chart {
    display: flex;
    justify-content: space-between;
  }

  .list {
    margin-bottom: $spacing-xs;

    .list-item:not(.list-item:has(.item-title)) {
      margin-bottom: 10px;
    }

    .card {
      padding: 13px 15px;
    }

    .card:hover,
    .selected-task {
      background-color: $gray-color;
      box-shadow: $shadow-color-01;
    }
  }
}
