@use '../base/variables' as *;

.section-auth {
  .section-content {
    flex-direction: column;

    max-width: 367px;
    margin: 0 auto;

    .title {
      margin-bottom: $spacing-5xl;

      font-size: $text-2xl;
      font-weight: $font-500;
      color: $neutral-color;
    }
  }

  .auth-prompt {
    font-size: $spacing-md;
    font-weight: $font-400;
    color: $black-color;

    .auth-link {
      font-weight: $font-500;
      color: $black-color;

      &:hover {
        cursor: pointer;
        color: $orange-color;
      }
    }
  }
}
