@use '../base/variables' as *;

.form {
  display: flex;
  flex-direction: column;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-xl;

    .form-label {
      margin-bottom: $spacing-xs;

      font-size: $spacing-md;
      font-weight: $font-400;
    }

    .form-input {
      width: 100%;
      min-height: 34px;
      margin-bottom: $spacing-sm;
      padding: 3px 15px;
      border-radius: 6px;
      border: 1px solid $neutral-color-40;
    }

    .form-message {
      color: $orange-color;
    }

    .date-picker {
      padding: 0;
    }

    .radio-label span {
      font-size: $text-sm;
    }
  }
}

.label-group {
  display: flex;
  align-items: center;

  .icon {
    width: 7px;
    height: 7px;
    margin-right: 7px;
  }
}
