@use '../base/variables' as *;

.loading-container {
  position: absolute;

  display: flex;

  justify-content: center;
  align-items: center;

  background-color: rgba($neutral-color-40, 0.2);

  width: 100%;
  min-height: 100vh;

  .icon {
    color: $orange-color;
  }
}
