@use 'variables' as *;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('opentype');
  font-weight: $font-300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('opentype');
  font-weight: $font-400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Medium.ttf') format('opentype');
  font-weight: $font-500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('opentype');
  font-weight: $font-700;
  font-style: normal;
}

html,
body {
  font-family: $font-primary;
}
